html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  display: flex;
  height: 100%;
  }

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#title span a:hover {
  background: rgba(0, 0, 0, 0.199);
  font-size: 55px;
  border-radius: 4px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list {
  color: #FFF;
  display: inline-block;
  align-self: flex-end;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.list a {
    text-decoration: none;
    transition: 500ms;
    color: #FFF;
}

.list a:hover {
    color: rgb(97, 101, 110);
    transition: 500ms;
    font-size: 24px;
}

li {
    text-decoration: none;
}

.head a{
  font-family: "lato", sans-serif;
  transition: 500ms;
  font-size: 15px;
}

.head ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.head li {
  float: left;
}

.head li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.head a:hover {
 color: rgb(97, 101, 110);
 transition: 500ms;
 font-size: 18px;
}