/* FORMATAÇÃO GERAL*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85,85,85); 
    cursor: default;
    text-align: justify;
}

/* TRANSIÇÃO */

.btn {
    transition: all 300ms ease;
}

/* NAV BAR */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: center;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.3rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;

}

a:not(#textlink, .menu-links a):hover {
    color: #d81e5b;
    text-decoration: underline;
    text-underline-offset: .8rem;
    text-decoration-color: #d81e5b;
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* MOBILE MENU */

#mobile-nav {
    display: none;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.menu-icon span {
    width: 100%;
    height: 2px;
    background-color: #d81e5b;
    transition: 300ms;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: 200ms;
}

.menu-links li {
    list-style: none;
  }

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    line-height: 120%;
}

.menu-links a:hover {
    text-decoration: underline;
    text-decoration-color: #d81e5b;
}

.menu-links.open {
    max-height: 300px;
}

.menu-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.menu-icon.open span:nth-child(2) {
    opacity: 0;
}

.menu-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.menu-icon span:first-child {
    transform: none;
}

.menu-icon span:first-child {
    opacity: 1;
}

.menu-icon span:first-child {
    transform: none;
}

/* SECTIONS */ 

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
    /* scroll-snap-align: start; */
}

.section-container {
    display: flex;
}

/* HERO PAGE */

#hero {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text-p1 {
    text-align: center;
}

.section__text-p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    text-align: center;
}

.title {
    font-size: 3rem;
    text-align: center;
    cursor: default;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    align-items: center;
}

.github-redirect {
    cursor: pointer; 
    display: flex; gap: 1rem; 
    align-items: center;
    transform: scale(0.95);
    transition: all 100ms ease;
}

.github-redirect:hover {
    transform: scale(1);
    transition: all 100ms ease;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 200ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 1rem;
    border: black .1rem solid;
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: #d81e5b;
    color: white;
    border-color: white;
}

/* LIVRO */
#livro {
    position: relative;
    margin-top: 10vh;
}

/* LIVRO TEXTO */
#livrotexto {
    position: relative;
}

.livro-details-container {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#livrotexto-mobile {
    display: none;
}

/* ABOUT SECTION */

#sobre {
    position: relative;
}


.about-details-container {
    justify-content: center;
    flex-direction: column;
    display: flex;
    text-align: center;
}

.about-details-container p{
    text-align: center;
}

.about-pic {
    border-radius: 1rem;
    transform: scale(0.95);
    transition: all .3s ease;
}

.about-pic:hover {
    cursor: pointer;
    transition: all .3s ease;
    transform: scale(1);
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.about-text {
    font-size: 90%;
}

/* EQUIPE */

#equipe {
    position: relative;
    width: auto;
    height: 110vh;
    /* background: radial-gradient(#281c3e,#0f051d); */
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
}

.team-content {
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}

.team-content img {
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}

.box {
	padding: 16px;
	background: black;
	border-radius: 15px;
	transition: all .38s ease;
    /* min-width: 150px; */
    width: auto;
}

.box-content {
    width: 100%;

}

.box, .box-contributors h3 {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}

.box h5 {
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}

.social-media i {
	display: inline-block;
	color: #fff;
	font-size: 30px;
	margin: 0 8px;
	transition: all .38s ease;
    transform: scale(.8);

}
.social-media i:hover {
	transform: scale(1);
}

.box:hover {
	transform: translateY(-10px);
	cursor: pointer;
}

#contributors {
    border: none;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
}

/* SCROLL LEGAL */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all .8s;
}

.show {
    opacity: 1;
    filter: blur(0);
}

@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}

#textlink {
    color: #d81e5b;

}

#textlink:hover {
    text-decoration:underline;
}

.copyright {
    text-align: center;
}

#mobile-footer {
    display: none;
}
