@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');


body {
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    background-color: #10161f;
    background-image: url(media/back.png); 
}


#title {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.14);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.7px);
    -webkit-backdrop-filter: blur(0.7px);
    border: 1px solid rgba(255, 255, 255, 0.16);
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: #FDF0D5;
    font-size: 3rem;
}

#title {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.14);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.7px);
    -webkit-backdrop-filter: blur(0.7px);
    border: 1px solid rgba(255, 255, 255, 0.16);
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: #FDF0D5;
    font-size: 3rem;
    transition: 500ms;
}

#title:hover {
   transition: 500ms;
   font-size: 3.1rem;
}

.list a {
    text-decoration: none;
    color: #FDF0D5;
}

.list {
    color: #FDF0D5;
    font-family: Oswald, sans-serif;
    font-size: 20px;
    display: inline-block;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.list li {
    transition: 500ms;
}


.list li:hover {
    transition: 500ms;
    font-size: 23px;
}